<div class="nav-bar">
    <div class="logo-side">
        <a href="/">Home</a>
        <a href="/login">Sign-In</a>
        <a href="/product">Product</a>
        <a href="/products/cart">Cart</a>
        <a href="/products/checkout">CheckOut</a>
        <a href="/boh/process-orders">BOH_Orders</a>
        <a href="/products/views">Products</a>
        <a href="/products/orders">DisplayOrders</a>
    </div>
    <div class="time-md">
        <span id="d-time"></span>
    </div>
    <div class="user-profile">
        <div class="img-placeholder"></div>
        <div class="user-details">
            <span id="user-d-name"></span>
            <span id="user-role"></span>
        </div>
    </div>
</div>